<h1>{{title}}</h1>
<nav>
  <a class="button" routerLink="/product-list" routerLinkActive="activeButton" ariaCurrentWhenActive="page">Lista De Productos</a>
  <a class="button" routerLink="/product-add" routerLinkActive="activeButton" ariaCurrentWhenActive="page">Añadir Producto</a>
  <a class="button" routerLink="/product-edit" routerLinkActive="activeButton" ariaCurrentWhenActive="page">Editar Producto</a>
  <a class="button" routerLink="/product-delete" routerLinkActive="activeButton" ariaCurrentWhenActive="page">Eliminar Producto</a>
</nav>
<router-outlet></router-outlet>
